<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tripist</title>
	<script th:replace="~{include/index_js}"></script>
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<link th:href="@{/img/favicon.ico}" rel="shortcut icon">
</head>
<body>

	<article>
		<div class="articleWrap">
		
			<div id="map">
			</div>
			
			<div id="backMarker">
			
				<div id="addMarkerForm">
					<span class="cancel" id="addMarkerCancelBtn">&#215;&nbsp;</span>
					<span class="subTitle" id="addMarkerFormText">Add Marker</span>
					<input type="text" class="input" id="addMarkerLocation" placeholder="Location"><br>
					<input type="text" class="input" id="addMarkerPeriod" placeholder="yymmdd-yymmdd"><br>
					<input type="text" class="input" id="addMarkerCost" placeholder="Total Cost"><br>
					<textarea class="input" id="addMarkerContents" placeholder="Contents"></textarea><br>
					<input type="text" id="addMarkerImg" value="imgimgimgimg"><br>
					<input type="button" id="addMarkerSubmitBtn" value="SUBMIT">
				</div>
				
			</div>
				
			<div id="markerInfo">
				<input type="hidden" id="markerInfoMno">
				<span class="cancel" id="markerInfoCancelBtn">&#215;&nbsp;</span>
				<span class="subTitle" id="markerInfoText">Marker Info</span>
				<input type="text" class="input" id="markerInfoLocation" placeholder="Location"><br>
				<input type="text" class="input" id="markerInfoPeriod" placeholder="yymmdd-yymmdd"><br>
				<input type="text" class="input" id="markerInfoCost" placeholder="Total Cost"><br>
				<textarea class="input" id="markerInfoContents" placeholder="Contents"></textarea><br>
				<input type="text" id="markerInfoImg" value="imgimgimgimg"><br>
				<input type="button" id="markerInfoModifyBtn" value="MODIFY">
				<input type="button" id="markerInfoDeleteBtn" value="DELETE">
			</div>
			
		</div>
	</article>

	<header th:replace="~{include/fragments::header}"></header>
	
	<nav th:replace="~{include/fragments::nav}"></nav>
	
	<footer th:replace="~{include/fragments::footer}"></footer>
	
</body>
</html>