.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 660px;

  padding: 20px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

.img_info {
	margin-top: 10px;
	width: 300px;
}

.img_info tr td {
	text-align: left;
	border-bottom: 1px solid #498ada;
	font-size: .9em;
	padding-left: 10px;
}

.img_info tr td:nth-child(1) {
	border-bottom: 1px solid white;
	background-color: #498ada;
	color: #fff;
	font-weight: bolder;
}