<<<<<<< HEAD
* {
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(156, 156, 156);
}

li {
	list-style-type: none;
}

input[type=text], input[type=password], input[type=email] {
	padding: 0 10px;
	height: 20px;
	border: 1px solid rgb(156, 156, 156);
	color: rgb(156, 156, 156);
}

input[type=button] {
    padding: 0 10px;
    height: 20px;
    font-size: 0.1em;
  	border: 1px solid rgb(156, 156, 156);
    border-radius: 0;
  	color: rgb(156, 156, 156);
  	background-color: white;
    text-transform: uppercase;
    text-decoration: none;
	cursor: pointer;
}

input[type=button]:hover {
	color: #e0e0e0;
	transition-duration: .5s;
}

header {
	width: 602px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.titleHeader {
	height: 100px;
}

#imgMain{
	width: 120px;
	height: 100px;
}

.signOut {
	height: 20px;
	text-align: right;
}

#myId {
	height: 20px;
	line-height: 20px;
	color: rgb(156, 156, 156);
	font-size: .8em;
	font-weight: bolder;
}

#myId:hover {
	color: #e0e0e0;
	transition-duration: .5s;
	cursor: pointer;
		
}

article {
	margin-bottom: 10px;
}

footer {
	margin-bottom: 10px;
	color: rgb(156, 156, 156);
	font-size: 0.8em;
}
=======
* {
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(156, 156, 156);
}

li {
	list-style-type: none;
}

input[type=text], input[type=password], input[type=email] {
	padding: 0 10px;
	height: 20px;
	border: 1px solid rgb(156, 156, 156);
	color: rgb(156, 156, 156);
}

input[type=button] {
    padding: 0 10px;
    height: 20px;
    font-size: 0.1em;
  	border: 1px solid rgb(156, 156, 156);
    border-radius: 0;
  	color: rgb(156, 156, 156);
  	background-color: white;
    text-transform: uppercase;
    text-decoration: none;
	cursor: pointer;
}

input[type=button]:hover {
	color: #e0e0e0;
	transition-duration: .5s;
}

header {
	width: 602px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.titleHeader {
	height: 100px;
}

#imgMain{
	width: 120px;
	height: 100px;
}

.signOut {
	height: 20px;
	text-align: right;
}

#myId {
	height: 20px;
	line-height: 20px;
	color: rgb(156, 156, 156);
	font-size: .8em;
	font-weight: bolder;
}

#myId:hover {
	color: #e0e0e0;
	transition-duration: .5s;
	cursor: pointer;
		
}

article {
	margin-bottom: 10px;
}

footer {
	margin-bottom: 10px;
	color: rgb(156, 156, 156);
	font-size: 0.8em;
}
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
