<<<<<<< HEAD
input[type=text], input[type=password], input[type=email], input[type=button] {
	margin-bottom: 10px;
=======
<<<<<<< HEAD
input[type=text], input[type=password], input[type=email], input[type=button] {
	margin-bottom: 10px;
=======
input[type=text], input[type=password], input[type=email], input[type=button] {
	margin-bottom: 10px;
>>>>>>> dfafe29c0482dd92cdc454a767f9bed240e80ae9
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
}