* {
   margin: 0; padding: 0;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none
}

a {
   color: #212121;
   text-decoration: none;
   cursor: pointer;
}

section {
    width: 100%;
}

section > div#section_wrap {
    position: relative;
    left: 300px;
    min-height: 910px;
    background-color: #f2f2f2; 
    padding-top: 30px;
}