<html>
    <head>
        <title></title>
        <link href="static/css/relay_control.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="wrap_header">
                HOME IOT
            </div>
        </header>
        <nav>
            <div class="wrap_nav">
                <a href="/act?relay=1">ON</a>&nbsp;&nbsp;
                <a href="/act?relay=0">OFF</a>
            </div>
        </nav>
        <article>
            <div class="wrap_article">
                Device is {{status}}
            </div>
        </article>
        <footer>
            <div class="wrap_footer">
                Copyright(c) Hugh All rights reserved.
            </div>
        </footer>
    </body>
</html>