<<<<<<< HEAD
article {
	width: 100%;
}

#wrap_article {
	width: 640px;
	border-bottom: 1px solid #969696;
	margin-bottom: 10px;
}
=======
<<<<<<< HEAD
article {
	width: 100%;
}

#wrap_article {
	width: 640px;
	border-bottom: 1px solid #969696;
	margin-bottom: 10px;
}
=======
article {
	width: 100%;
}

#wrap_article {
	width: 640px;
	border-bottom: 1px solid #969696;
	margin-bottom: 10px;
}
>>>>>>> dfafe29c0482dd92cdc454a767f9bed240e80ae9
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
