<<<<<<< HEAD
footer {
	width: 100%;
}

#wrap_footer {
	width: 640px;
	font-size: .8em;
}
=======
footer {
	width: 100%;
}

#wrap_footer {
	width: 640px;
	font-size: .8em;
}
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
