<<<<<<< HEAD
nav {
	width: 100%;
}

#wrap_nav {
	width: 640px;
	height: 30px;
	border-bottom: 1px solid #969696;
	margin-bottom: 10px;
}

.menu_nav a {
	font-weight: bolder;
}
=======
nav {
	width: 100%;
}

#wrap_nav {
	width: 640px;
	height: 30px;
	border-bottom: 1px solid #969696;
	margin-bottom: 10px;
}

.menu_nav a {
	font-weight: bolder;
}
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
