<<<<<<< HEAD
table {
	width: 640px;
	margin-bottom: 10px;
}
table tr td {
	font-size: .9em;
=======
<<<<<<< HEAD
table {
	width: 640px;
	margin-bottom: 10px;
}
table tr td {
	font-size: .9em;
=======
table {
	width: 640px;
	margin-bottom: 10px;
}
table tr td {
	font-size: .9em;
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
>>>>>>> dfafe29c0482dd92cdc454a767f9bed240e80ae9
}