<<<<<<< HEAD
* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #969696;
}

table {
	border-collapse: collapse;
}
=======
<<<<<<< HEAD
* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #969696;
}

table {
	border-collapse: collapse;
}
=======
* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #969696;
}

table {
	border-collapse: collapse;
}
>>>>>>> dfafe29c0482dd92cdc454a767f9bed240e80ae9
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
