<<<<<<< HEAD
.loginForm {
	margin-top: 10px;
}

.loginForm input{
	margin-bottom: 10px;
}

.signUpMenu {
	margin-bottom: 10px;
	font-size: .9em;
=======
<<<<<<< HEAD
.loginForm {
	margin-top: 10px;
}

.loginForm input{
	margin-bottom: 10px;
}

.signUpMenu {
	margin-bottom: 10px;
	font-size: .9em;
=======
.loginForm {
	margin-top: 10px;
}

.loginForm input{
	margin-bottom: 10px;
}

.signUpMenu {
	margin-bottom: 10px;
	font-size: .9em;
>>>>>>> 5aa76ea3a0591d427a636e8d726911934985e0b2
>>>>>>> dfafe29c0482dd92cdc454a767f9bed240e80ae9
}