<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script th:src="${mapAddress}"></script>

<script th:inline="javascript">

var map;

function alertPopup(str) {
	$("#alertText").text(str);
	$("#alert").show();
	$("#alert").fadeOut(2000);

}

function confirmSession(){
	let tripistVo = [[${session.tripistVo}]];
	
	if (tripistVo == null) {
		alertPopup("Please log in.");
		
		$(location).attr("href", "");
		
	}
	
}

function addMarker() {
	$(".listElement").mouseover(function() {
		let latlng = {
			lat: $(this).data("lat"),
			lng: $(this).data("lng")

		}

		map.panTo(latlng);

	});
}

function getMarkerList() {
	confirmSession();

	let tripistVo = [[${session.tripistVo}]];

	$.ajax({
		url : "/getMarkerList",
		type : "POST",
		data : JSON.stringify({
			"u_no": tripistVo.u_no

		}),
		contentType : "application/json",
		success : function(result) {
			let latlng;
			let htmlStr = "";
			for (let i = 0; i < result.length; i++) {
				latlng = {
					lat: parseFloat(result[i].m_lat),
					lng: parseFloat(result[i].m_lng)
					
				}

				let marker = new google.maps.Marker({
					map: map,
					position: new google.maps.LatLng(latlng),
					title: result[i].m_location

				});

				marker.addListener("click", () => {
					map.setZoom(15);
					map.panTo(marker.getPosition());

				});

				htmlStr += "<tr>";
				htmlStr += "<td>";
				htmlStr += "<button class='listElement' data-lat='" + result[i].m_lat + "' data-lng='" + result[i].m_lng + "'>";
				htmlStr +=	result[i].m_location + "&nbsp;&nbsp;" + result[i].m_period;
				htmlStr += "</button>";
				htmlStr += "</td>"
				htmlStr += "</tr>"
				
			}

			$("#listTable").html(htmlStr)
			
			addMarker();

		},
		error : function(request, status, error){
			alertPopup("Connection error.");
			
			console.log("code : " + request.status);
	        console.log("message : " + request.responseText);
	        console.log("error : " + error);

		}
	});

}

function loadMap() {
	map = new google.maps.Map(
		document.getElementById("map"), {
			center: new google.maps.LatLng(37.4601908, 126.4406957),
			zoom: 12
		}
		
	);
	
	map.addListener("click", (e) => {
		confirmSession();

		let latlng = {
			lat: e.latLng.lat(),
			lng: e.latLng.lng()

		}
		
		if (map.getZoom() >= 15) {
			map.panTo(latlng);
			$("nav").toggleClass("show");
			$("#backMarker").toggleClass("show");
			$("#addMarkerForm").toggleClass("show");
			$("#addMarkerForm").data("lat", e.latLng.lat());
			$("#addMarkerForm").data("lng", e.latLng.lng());
			$("body").css("overflow", "hidden");

		} else {
			map.panTo(latlng);
			map.setZoom(15);
			
		}
		
	});
	
}

function addHeader() {
	$("#signInBtn").click(function() {
		let u_id = $("#signInId").val();
		let u_pw = $("#signInPw").val();

		if (u_id == "") {
			alertPopup("Please enter new ID.");
			
			$("#signInId").focus();
			
		} else if (u_pw == "") {
			alertPopup("Please enter new Password.");
			
			$("#signInPw").focus();
			
		} else {
			$.ajax({
				url : "/confirmSignIn",
				type : "POST",
				data : JSON.stringify({
					"u_id": u_id,
					"u_pw": u_pw
					
				}),
				contentType : "application/json",
				success : function(result) {
					if (result == 1) {
						alertPopup("Sign in succeed.");

						$(location).attr("href", "");
						
					} else {
						alertPopup("Please check your ID and password.");
						
					}
					
				},
				error : function(request, status, error){
					alertPopup("Connection error.");
					
					console.log("code : " + request.status);
			        console.log("message : " + request.responseText);
			        console.log("error : " + error);
	
				}
			});
		}
	});
	
	$("#signUpBtn").click(function() {
		$("#signIn").toggleClass("show");
		$(".input").val("");
		$("#signUp").toggleClass("show");
		
	});
	
	$("#signUpSubmitBtn").click(function() {
		let u_id = $("#signUpId").val();
		let u_pw = $("#signUpPw").val();
		let u_confirm_pw = $("#signUpConfirmPw").val();
		let u_email = $("#signUpEmail").val();

		if (u_id == "") {
			alertPopup("Please enter new ID.");
			
			$("#signUpId").focus();
			
		} else if (u_pw == "") {
			alertPopup("Please enter new Password.");
			
			$("#signUpPw").focus();
			
		} else if (u_confirm_pw == "") {
			alertPopup("Please enter Password again to confirm.");
			
			$("#signUpConfirmPw").focus();
			
		} else if (u_pw != u_confirm_pw) {
			alertPopup("Please check password.");
			
			$("#signUpPw").val("");
			$("#signUpConfirmPw").val("");
			$("#signUpPw").focus();
			
		} else if (u_email == "") {
			alertPopup("Please enter your Email");
			
			$("#signUpEmail").focus();

		} else {
			$.ajax({
				url : "/confirmSignUp",
				type : "POST",
				data : JSON.stringify({
					"u_id": u_id,
					"u_pw": u_pw,
					"u_email": u_email
					
				}),
				contentType : "application/json",
				success : function(result) {
					if (result == 1) {
						alertPopup("Sign up succeed.");
						$("#signUp").toggleClass("show");
						$("#signIn").toggleClass("show");
						
					} else if (result == 0) {
						alertPopup("Sign up failed.");
						
					} else {
						alertPopup("This is a duplicate ID.");
						
					}
					
				},
				error : function(request, status, error){
					alertPopup("Connection error.");
					
					console.log("code : " + request.status);
			        console.log("message : " + request.responseText);
			        console.log("error : " + error);
	
				}
			});
		}
	});
	
	$("#signUpCancelBtn").click(function() {
		$("#signUp").toggleClass("show");
		$(".input").val("");
		$("#signIn").toggleClass("show");
		
	});
	
}

function addNav() {
	$("#openNav").click(function() {
		confirmSession();
		
		$("nav").css({"transition": ".5s", "transform": "translateX(-35vw)"});
		$("#openNav").hide();
		$("#foldNav").fadeIn(500);
		
	});
	
	$("#foldNav").click(function() {
		confirmSession();
		
		$("nav").css({"transition": ".5s", "transform": "translateX(0)"});
		$("#foldNav").hide();
		$("#openNav").fadeIn(500);
		
	});
	
	$("#showId").click(function() {
		confirmSession();

		let tripistVo = [[${session.tripistVo}]];

		$("#tripList").hide();
		$("#myPageId").val(tripistVo.u_id);
		$("#myPageEmail").val(tripistVo.u_email);
		
		
		$("#myPage").fadeIn(500);
		
	});
	
	$("#myPageModifyBtn").click(function() {
		confirmSession();

		let tripistVo = [[${session.tripistVo}]]
		let u_no = tripistVo.u_no;
		let u_id = $("#myPageId").val();
		let u_pw = $("#myPagePw").val();
		let u_new_pw = $("#myPageNewPw").val();
		let u_confirm_new_pw = $("#myPageNewConfirmPw").val();
		let u_email = $("#myPageEmail").val();

		if (u_pw == "") {
			alertPopup("Please enter your Password.");
			
			$("#myPagePw").focus();
			
		} else if (u_new_pw != u_confirm_new_pw) {
			alertPopup("Please check new password.");
			
			$("#myPageNewPw").val("");
			$("#myPageNewConfirmPw").val("");
			$("#myPageNewPw").focus();

		} else if (u_email == "") {
			alertPopup("Please enter your Email");
			
			$("#myPageEmail").focus();

		} else {
			$.ajax({
				url : "/modifyMyInfo",
				type : "POST",
				data : JSON.stringify({
					"u_no": u_no,
					"u_id": u_id,
					"u_pw": u_pw,
					"u_new_pw": u_new_pw,
					"u_email": u_email
					
				}),
				contentType : "application/json",
				success : function(result) {
					if (result == 1) {
						alertPopup("Modify succeed.");

						$(location).attr("href", "");

					} else if (result == 0) {
						alertPopup("Modify failed.");
						
						$(location).attr("href", "");

					} else {
						alertPopup("Please enter the correct password.");

					}

				},
				error : function(request, status, error){
					alertPopup("Connection error.");
					
					console.log("code : " + request.status);
			        console.log("message : " + request.responseText);
			        console.log("error : " + error);
	
				}
			});
		}

	});

	$("#myPageWithdrawalBtn").click(function() {
		confirmSession();

		let tripistVo = [[${session.tripistVo}]];
		let u_no = tripistVo.u_no;
		let u_id = $("#myPageId").val();
		let u_pw = $("#myPagePw").val();

		if (u_pw == "") {
			alertPopup("Please enter your Password.");
			
			$("#myPagePw").focus();
			
		} else {
			if (confirm("Are you sure you want to withdraw?")) {
				$.ajax({
					url : "/deleteAccount",
					type : "POST",
					data : JSON.stringify({
						"u_no": u_no,
						"u_id": u_id,
						"u_pw": u_pw
						
					}),
					contentType : "application/json",
					success : function(result) {
						if (result == 1) {
							alertPopup("Withdrawal succeed.");

							$(location).attr("href", "");

						} else if (result == 0) {
							alertPopup("Withdrawal failed.");
							
							$(location).attr("href", "");

						} else {
							alertPopup("Please enter the correct password.");

						}

					},
					error : function(request, status, error){
						alertPopup("Connection error.");
						
						console.log("code : " + request.status);
						console.log("message : " + request.responseText);
						console.log("error : " + error);

					}
				});
			}
		}
	});

	$("#myPageCancelBtn").click(function() {
		confirmSession();

		$("#myPage").hide();
		$(".input").val("")
		$("#tripList").fadeIn(500);
		
	});
	
	$("#signOutBtn").click(function() {
		confirmSession();
		
		if (confirm("Are you sure you want to sign out?")) {
			$(location).attr("href", "/signOut");
			
		}
	});
	
}

function addArticle() {
	$("#addMarkerSubmitBtn").click(function() {
		confirmSession();

		let tripistVo = [[${session.tripistVo}]]
		let u_no = tripistVo.u_no;
		let m_lat = map.getPosition;
		let m_lng ="";
		let m_location = $("#addMarkerLocation").val();
		let m_period = $("#addMarkerPeriod").val();
		let m_cost = $("#addMarkerCost").val();
		let m_contents = $("#addMarkerContents").val();
		let m_img_name = "temp.jpg";

	});

	$("#addMarkerCancelBtn").click(function() {
		confirmSession();
		
		$("#addMarkerForm").toggleClass("show");
		$("#backMarker").toggleClass("show");
		$(".input").val("");
		$("body").css("overflow", "auto");
		$("nav").toggleClass("show");
		
	});
}


$(function() {
	let tripistVo = [[${session.tripistVo}]];
	
	if (tripistVo == null) {
		$("body").css("overflow", "hidden");
		$("#backSign").toggleClass("show");
		$("#signIn").toggleClass("show");
		
		loadMap();
		addHeader();
		
	} else {
		loadMap();
		addHeader();
		addNav();
		addArticle();
		getMarkerList();
		
		$("nav").toggleClass("show");
		
	}

})

</script>